<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Popsicle Shop</title>
  
<!--  	<link type="text/css" rel="stylesheet" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 -->	<!-- BOOTSTRAP CSS ("Cerulean" Bootswatch Theme)-->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.css">
 <!-- OTHER CSS STYLES -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
  	<!--jQuery-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
<!-- BACKGROUND IMAGE -->
<img class="bg" src="assets/img/popsicle.png">

<div class="container">
	<!-- PAGE HEADER -->
	<div class="jumbotron">
		<h1>Popsicle Shop</h1>
		<p>Try all of the flavors!</p>
		<h5 class="instructions">Click on a popsicle in the freezer to devour it!<br>Add your own flavor at the bottom of the page!</h5>		
	</div>
	
	{{{ body }}}

</div>
<!-- Sticky Footer -->
    <footer class="footer">
        <div class="container">
			<span><a class="footerLinks" href="/">Home </a> | <a class="footerLinks" href="https://github.com/indiaaeevans/popsicle"> GitHub Repo</a></span>
        </div>
    </footer>
</body>
</html>